body {
    background-image: url(../img/bg5.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;

    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-header{
    margin-top: 100px;
    background-image: url(../img/banner.jpg);
    padding: 1px;   /* 避免margin折叠 */

}


.main-header h1{
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;

    font-weight: 300;
    font-size: 50px;
    color: white;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}

.main-header__avatar {
    margin: 0 auto;
    display: block;
    margin-top: -70px;
    margin-bottom: 10px;
    border: 3px solid white;

    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

ul.no_style {
    list-style: none;   /*ȥ���б�װ��*/
    padding: 0;         /*��������Ĭ�ϵļ��*/
    margin: 0;
    text-align: center;
}

ul.inline-items li {
    display: inline-block;/* ����padding, margin, height��Ч*/
}

.main-nav {
    background-color: #333;
    width: 960px;
    text-align: center;
    display: inline-block;

}

.main-nav ul li {
    margin: 15px 10px;
    display: inline;
    list-style-type: none;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.centered-image {
    display: block;
    width: 25%;
    margin: 0 auto;
}

.info-section {
    padding: 10px;
    margin: 0px auto;
    padding: 30px 60px;
    background-color: #fff;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

}

.info-section header h2:after{
    border-bottom: 3px solid black;
    content: "";
    width: 80px;
    margin: 20px auto;
    display: block;
    clear: both;
}

.info-section__description {
    font-style: italic;
    text-align: center;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.whatido__skill{
    padding-top: 100px;
    width: 33.3%;
    float: left;


}

.whatido__skill-list {
    list-style: none;
    margin-top: 100px;
}


.whatido__skill--code {
    background-image: url(../img/skill-code.png);
    background-repeat: no-repeat;
    background-position: center top;
 }

.whatido__skill--design {
    background-image: url(../img/skill-design.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.whatido__skill--product {
    background-image: url(../img/skill-product.png);
    background-repeat: no-repeat;
    background-position: center top;
 }